<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <form class="form-group col-md-6 mx-auto shadow p-3 mb-5 bg-white rounded m-5"  action="/session" method="POST">
        <h1>Login page</h1>
      <input class="form-control" type="text" name="username" placeholder="Username"/><br/>
      <input class="form-control" type="password" name="password" placeholder="Password"/><br/>
      <input class="btn btn-outline-primary btn-md" data-toggle="button" type="submit" value="Log In"/><br/>
    </form>
  <footer class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home Page</a>
    <a class="breadcrumb-item" href="/users/new">Sign Up</a>
  </footer>
  </body>
</html>
