<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
      <style media="screen">
        h1{
          font-family: 'Oswald', sans-serif;
        }
      </style>
  </head>
  <body style="background-image: url('https://blog.netpulse.com/hs-fs/hubfs/blog/Stock/shutterstock_188522123%20(1).jpg?width=1200&name=shutterstock_188522123%20(1).jpg')">
  <nav class="container-fluid mt-5 shadow-lg p-3 mb-5 bg-white rounded-sm">
    <h1 class="text-center">Sweat it out!</h1>
      <div class="list-group">
          <a class=" btn btn-outline-primary md" data-toggle="button" href="/session/new">Log In</a><br/>
          <a class=" btn btn-outline-primary md" data-toggle="button" href="/users/new">Sign up</a>
      </div>
    </nav>
  </body>
</html>
