<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="p-3 mb-2 bg-gradient-primary text-white" style="background-image: url('https://blog.netpulse.com/hs-fs/hubfs/blog/Stock/shutterstock_188522123%20(1).jpg?width=1200&name=shutterstock_188522123%20(1).jpg')">
  <nav class="jumbotron">
    <h1>Lets Sweat!</h1>
      <ul>
        <li>
          <a class="btn btn-primary btn-md" href="/session/new">Log In</a>
        </li>
        <li>
          <a class="btn btn-primary btn-md" href="/users/new">Sign up</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
