<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is my main page</h1>
    <ul>
      <% for(let i = 0; i < workouts.length; i++) { %>
        <li>
            <a href="/home/<%=workouts[i].id%>">
            Name: <%=workouts[i].name%><br/>
            </a>
          <br/>
        </li>
    <% } %>
    </ul>
    <nav>
      <a href="/home/new"> Create New Workout</a>
    </nav>

  </body>
</html>
