<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is my main page</h1>
    <ul>
      <% for(let i = 0; i < workouts.length; i++) { %>
        <li>
            <a href="/home/<%=workouts[i].id%>">
            Name: <%=workouts[i].name%>
            </a>
            <!-- this is my delete link -->
            <form action="/home/<%=workouts[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"/>
            </form>
            <!-- this is my edit link -->
            <a href="/home/<%=workouts[i].id%>/edit">Edit</a><br/>
        </li><br/>
    <% } %>
    </ul>
    <nav>
      <a href="/home/new"> Create New Workout</a>
    </nav>

  </body>
</html>
