<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- this page is coming from my new route -->
    <!--dont forget to place on form -->
    <h1>this page is coming from my new route</h1>
<form class="" action="/home" method="post">
    Name: <input type="text" name="name"/><br>
    Workout: <input type="text" name="fitness"/><br>
    Sleep: <input type="text" name="sleep"/><br>
    Calories:  <input type="text" name="calories"/><br>
    <input type="submit" value="Submit"/><br>
</form>
    <a href="/home">Home page</a>
  </body>
</html>
