<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>this page is coming from my new route</h1>
    Name: <input type="text" name="name"/>
    Fitness level: <input type="text" name="fitness"/>
    Sleep: <input type="text" name="sleep"/>
    Calories:  <input type="text" name="calories"/>
    <a href="/home"></a>
  </body>
</html>
