<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show Page</h1>
    User: <%=workouts.name%><br/>
    Workout: <%=workouts.fitness%><br/>
    Hours of sleep: <%=workouts.sleep%><br/>
    Calorie burn: <%=workouts.calories%><br/>
  </body>
</html>
