<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #F2F2F2">
  <!-- this page is coming from my new route -->
  <!--dont forget to place on form -->
  <h1>New Profile</h1>
  <form class="list-group col-md-6 mx-auto shadow p-3 mb-5 bg-white rounded m-5" action="/home" method="post">
    Name: <input type="text" name="name"><br/>
    Workout: <input type="text" name="fitness"/><br>
    Sleep: <input type="text" name="sleep"/><br/>
    Calories:  <input type="text" name="calories"/><br/>
    Profile Pic: <input type="text" name="img"><br/>
    <input type="submit" value="Submit"/><br>

  </form>
  <footer class="breadcrumb">
    <a class="breadcrumb-item" href="/home">Home page</a>
  </footer>

</body>
</html>
